<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <title>Lista Telefonica</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.css">

    <style>
        .jumbotron{
            width: 400px;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        .form-control{
            margin-bottom: 5px;
        }
        .selecionado{
            background-color: greenyellow;
        }

    </style>

    <script src="angular.js"></script>
    <script>
        angular.module("listaTelefonica", []);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {
            $scope.app = "Lista Telefonica";
            $scope.contatos = [
                {nome: "Pedro", telefone: "99998888", cor: "blue"},
                {nome: "Ana", telefone: "99998877", cor: "yellow"},
                {nome: "Maria", telefone: "99998866", cor: "red"}
            ];
            $scope.operadoras = [
                {nome: "Oi", codigo: 14, categoria: "Celular"},
                {nome: "Vivo", codigo: 15, categoria: "Celular"},
                {nome: "Tim", codigo: 16, categoria: "Celular"},
                {nome: "GVT", codigo: 25, categoria: "Fixo"},
                {nome: "Embratel", codigo: 21, categoria: "Fixo"}
            ];
            $scope.addContato = function (contato) {
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
            };
            $scope.apagarContato = function (contatos) {
                $scope.contatos = contatos.filter(function (contato) {
                    if (!contato.selecionado) return contato;
                });
            }
            $scope.isContatoSelecionado = function (contatos) {
                return contatos.some(function (contato) {
                    return contato.selecionado;
                });
            }
        });
    </script>
</head>
<body ng-controller="listaTelefonicaCtrl"> <!--Vincula a view com o controlador-->
    <div class="jumbotron">
        <h4 ng-bind="app"></h4> <!--Substitui o elemento pela expressão, isto <h4>{{app}}</h4> tbm funciona-->
        <table class="table">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
            </tr>

            <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos"> <!--Itera sobre os objetos-->
                <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
            </tr>


        </table>
        <hr />
        <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"/> <!--ngModel vincula uma propriedade ao scope-->
        <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"/>
        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras"> <!--"group by operadora.categoria" antes do for-->
            <option value="">Selecione uma operadora</option>
        </select>
        <button class="btn btn-primary btn-block" ng-click="addContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>  <!--ngClick atribui um comportamento ao evento-->
        <button class="btn btn-danger btn-block" ng-click="apagarContato(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Apagar Contato</button>  <!--ngClick atribui um comportamento ao evento-->
        
        <!--ngDisable = desabilita um elemento dinamicamente-->
    </div>
</body>
</html>