<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <title>Lista Telefonica</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">

    <script src="../js/angular.js"></script>
    <script src="../js/angular-messages.js"></script>
    <script src="../js/angular-locale_pt-br.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/listaTelefonicaCtrl.js"></script>
</head>
<body ng-controller="listaTelefonicaCtrl"> <!--Vincula a view com o controlador-->
<div class="jumbotron">
    <h4 ng-bind="app"></h4> <!--Substitui o elemento pela expressão, isto <h4>{{app}}</h4> tbm funciona-->
    <input class="form-control" type="text" ng-model="busca" placeholder="O que está procurando?"/>
    <table ng-show="contatos.length > 0" class="table">
        <tr>
            <th></th>
            <th><a href="" ng-click="ordenarPor('nome')"/>Nome</th>
            <th><a href="" ng-click="ordenarPor('telefone')"/>Telefone</th>
            <th><a href="" ng-click="ordenarPor('operadora')"/>Operadora</th>
            <th><a href="" ng-click="ordenarPor('data')"/>Data</th>
        </tr>

        <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter:busca | orderBy:ordena:direcao"> <!--Itera sobre os objetos-->
            <td><input type="checkbox" ng-model="contato.selecionado"/></td>
            <td>{{contato.nome | uppercase}}</td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.operadora.nome | uppercase}}</td>
            <td>{{contato.data | date:'dd/MM/yyyy hh:mm'}}</td>
            <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
        </tr>


    </table>
    <hr />

    <form name="contatoForm">
        <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10"/> <!--ngModel vincula uma propriedade ao scope--> <!--ngRequired = define um campo como obrigatório-->
        <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ' ) ' for operadora in operadoras | orderBy:'nome'"> <!--"group by operadora.categoria" antes do for--> <!--No orderBy, adicionar um "-" (menos) antes do parâmetro inverte a ordem-->
            <option value="">Selecione uma operadora</option>
        </select>
    </form>

    <div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
        <div ng-message="required">
            Por favor, preencha o nome.
        </div>
        <div ng-message="minlength">
            O nome deve ter, no mínimo, 10 caracteres.
        </div>
    </div>
    <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
        Por favor, preencha o telefone.
    </div>
    <div ng-show="contatoForm.telefone.$error.pattern && contatoForm.telefone.$dirty" class="alert alert-danger">
        O telefone deve estar no formato DDDD-DDDD ou DDDDD-DDDD.
    </div>
    <button class="btn btn-primary btn-block" ng-click="addContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>  <!--ngClick atribui um comportamento ao evento-->
    <button class="btn btn-danger btn-block" ng-click="apagarContato(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Apagar Contato</button>  <!--ngDisable = desabilita um elemento dinamicamente-->
</div>

<div ng-include="'../html/footer.html'"> <!--Adiciona conteúdo dinamicamente-->

    <!--ngRequired = define um campo como obrigatório-->
</div>
</body>
</html>